# Python
__pycache__/
checkpoints/
tensorboard/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
get-pip.py

# React
demo/frontend/node_modules/
dist/

# Cython
*.c
*.cpp
*.pyd

# React
node_modules/
npm-debug.log
dist/

# Data
batches/
data/**/*.json
data/unused_ideas/formatted
data/unused_ideas/translated_example

data/eval/
batches/
demo/backend/data/
demo/backend/assets/
demo/backend/src_model/
legacy/

# Environment
.env
.venv
env/
venv/
ENV/

# Testing
.coverage
htmlcov/
.pytest_cache/

# Models
*.model
*.vocab
*.pth
*.pt